{{extend 'layout.html'}}
<h2>{{=assignment.name}}</h2>
<ul class="nav nav-pills">
	<li><a href="{{=URL('assignments','admin')}}">Back to Admin</a></li>
	<li class="active"><a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}">View</a></li>
	<li><a href="{{=URL('assignments','update')}}?id={{=assignment.id}}">Edit</a></li>
	<li><a href="{{=URL('assignments','update')}}?id={{=assignment.id}}">Grade</a></li>
	<li class="disabled"><a href="">Release Grades</a></li>
</ul>
<ul class="nav nav-pills">
	<li class="{{ if not student and not acid:}}disabled{{pass}}"><a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}">Reset Filters</a></li>
</ul>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>Students</h3>
			<ul class="list-group">
			{{for row in grades:}}
			{{if acid:}}
			<li class="list-group-item">
				<span class="badge">{{=row.code.grade}}</span>
				<a href="#">{{=row.auth_user.first_name}} {{=row.auth_user.last_name}}</a>
			</li>
			{{else:}}
			<li class="list-group-item">
				<span class="badge">{{=row.grades.score}}</span>
				<a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}&sid={{=row.auth_user.id}}">{{=row.auth_user.first_name}} {{=row.auth_user.last_name}}</a>
			</li>
			{{pass}}
			{{pass}}
		</ul>
		</div>
		<div class="col-md-6">
			{{if student:}}
			<h3>Problems for {{=student.first_name}} {{=student.last_name}}</h3>
			{{else:}}
			<h3>Problems</h3>
			{{pass}}
			<ul class="list-group">
			{{for row in problems:}}
				<li class="list-group-item">
					{{if student:}}
					<span class="badge">{{=row.grade}}</span>
					<a href="#">{{=row.acid}}</a>
					{{else:}}
					<a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}&acid={{=row.acid}}">{{=row.acid}}</a>
					{{pass}}
				</li>
			{{pass}}
			</ul>
		</div>
	</div>
</div>